{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="bg-secondary rounded h-100 p-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Usuarios Table</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>IdUsuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Roles</th>
                        <th>Estado</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.idUsuario }}</td>
                        <td >{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                        <td>
                            {{ usuario.estado == 'A' ? 'Activo' : 'Inactivo'}}
                        </td>
                        <td>
                            <div class="bg-secondary rounded h-100 p-4">
                                {% if is_granted("ROLE_ADMIN")%}
                                <a class="btn btn-primary m-2"
                                    href="{{ path('app_usuario_edit', {'idUsuario': usuario.idUsuario}) }}">Editar</a>
                                {% endif %}
                                <a class="btn btn-primary m-2"
                                    href="{{ path('app_usuario_show', {'idUsuario': usuario.idUsuario}) }}">Vistazo</a>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <a class="btn btn-primary m-2" href="{{ path('app_usuario_new') }}">Create new</a>
        </div>
    </div>
</div>



{% endblock %}